<!-- accounts/templates/registration/login.html -->
{% extends 'container.html' %}
{% load filters %}

{% block anoncontent %}
<form method="post">
  {% csrf_token %}

  {% if form.errors %}
  <p class="alert alert-warning">Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% for field in form %}
    <div class="form-group">
    {{ field.label_tag }}

    {{ field | addcss:"form-control" }}

    {% if field.help_text %}
    <small style="color: grey">{{ field.help_text | safe }}</small>
    {% endif %}
    </div>

    {% for error in field.errors %}
    <p style="color: red">{{ error }}</p>
    {% endfor %}
  {% endfor %}
  <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
</form>
<table class="table mb-0">
  <tr>
    <td><p class="text-left"><a href="{% url 'signup' %}">Sign up</a></p></td>
    <td><p class="text-right"><a href="{% url 'password_reset_request' %}">Password forgotten?</a></p></td>
  </tr>
</table>
{% endblock %}
