<!-- accounts/templates/pass.html -->
{% extends 'accounts/ldapuser_card.html' %}
{% load filters %}

{% block card-body %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-7">
    <form method="post">
      {% csrf_token %}
      {% if form.errors %}
      <p class="alert alert-warning">
      {% if form.errors.items|length == 1 %}Please correct the error below.{% else %}Please correct the errors below.{% endif %}
      </p>
      {% endif %}
      {% for field in form.visible_fields %}
      <div class="form-group">
        {{ field.label_tag }}
        {{ field | addcss:"form-control" }}
        {% if field.help_text %}
        <small style="color: grey">{{ field.help_text | safe }}</small>
        {% endif %}
        {% if field.errors %}
        {% for error in field.errors %}
        <p class="alert alert-warning mt-2"><small>{{ error }}</small></p>
        {% endfor %}
        {% endif %}
      </div>
      {% endfor %}
      <button type="submit" class="btn btn-lg btn-primary btn-block">Update Password</button>
    </form>
  </div>
  <div class="col-md-1 col-lg-1"></div>
</div>
{% endblock %}
