<!-- accounts/templates/ldapuser_detail.html -->
{% extends 'accounts/ldapuser_card.html' %}
{% load staticfiles %}
{% load filters %}

{% block card-body  %}
  <div class="row">
    <div class="col-md-2" align="center">
      {% if object.jpegPhoto %}
      <img src=data:image/png;base64,{{object.jpegPhoto | b64enc }} class="img-circle img-responsive" width=150>
      {% else %}
      <img src="{% static 'img/fa/user-circle.svg' %}" class="img-circle img-responsive" width=150>
      {% endif %}
    </div>
    <div class="col-md-9">
      <table class="table">
        <tbody>
          <tr>
            <td>Common Name</td>
            <td>{{object.cn}}</td>
          </tr>
          <tr>
            <td>Surname</td>
            <td>{{object.sn}}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{object.mail}} <a href={% url 'email_update' %}><small>(Change)</small></a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-1">
      <a href="{% url 'profile_update' %}" class="btn btn-sm btn-warning"><img src="{% static 'img/fa/edit.svg' %}" width="25"></a>
    </div>
  </div>
  <div>
    Groups:
  </div>
  {% for group in request.user.ldap_user.group_names %}
  <span type="button" class="btn-sm btn-dark">{{ group }}</span>
  {% endfor %}
</div>
<div class="card-footer text-right">
{% endblock %}
