<!-- accounts/templates/ldapuser_detail.html -->
{% extends 'accounts/ldapuser_card.html' %}
{% load staticfiles %}
{% load filters %}

{% block card-body  %}
  <div class="row">
    <div class="col-md-11">
      <table class="table table-user-information">
        <tbody>
          {% for key in object.sshPublicKey %}
          <tr>
            <td>
              <pre>{{key |wrap:80}}</pre>
            </td>
            <td>
              <a href={% url 'sshkeys_rem' forloop.counter0 %}>Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-md-1">
      <a href={% url 'sshkeys_add'%} class="btn btn-sm btn-info"><img src="{% static 'img/fa/plus.svg' %}" width="21"></a>
    </div>
  </div>
</div>
<div class="card-footer text-right">
{% endblock %}
