<!-- accounts/templates/signup.html -->
{% extends 'container.html' %}
{% load filters %}

{% block anoncontent %}
<form method="post">{% csrf_token %}

  {% if form.errors %}
  <p class="alert alert-warning">{% if form.errors.items|length == 1 %}Please correct the error below.{% else %}Please correct the errors below.{% endif %}</p>
  {% endif %}

  {% for field in form %}
    <div class="form-group">
    {{ field.label_tag }}

    {% if field.name == 'username' %}
    <div class="input-group mb-2">
      {{ field | addcss:"form-control" }}
      <div class="input-group-append"><span class="input-group-text">{{ username_append }}</span></div>
    </div>
    {% else %}
    {{ field | addcss:"form-control" }}
    {% endif %}

    {% if field.help_text %}
    <small style="color: grey">{{ field.help_text | safe }}</small>
    {% endif %}

    {% for error in field.errors %}
    <p class="alert alert-warning mt-2"><small>{{ error }}</small></p>
    {% endfor %}
    </div>
  {% endfor %}

  <button type="submit" class="btn btn-lg btn-primary btn-block">Sign up</button>
</form>
{% endblock %}
